*.gz filter=lfs diff=lfs merge=lfs -text
download/All_Mammalia.gene_info.gz filter=lfs diff=lfs merge=lfs -text
data/chromosome-symbol-mapper.tsv filter=lfs diff=lfs merge=lfs -text
data/genes-xrefs.tsv filter=lfs diff=lfs merge=lfs -text
data/genes.tsv filter=lfs diff=lfs merge=lfs -text
data/genes_rat.tsv filter=lfs diff=lfs merge=lfs -text
